#MainBanner {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	.container {
		height: 350px;
		position: relative;
		.banner__title {
			position: absolute;
			bottom: 80px;
			h1 {
				font-size: 46px;
				font-weight: 700;
				color: #fff;
			}
		}
	}
}

/* Make higher on home page */
body.page-1 #MainBanner {
	.container {
		height: 470px;
	}
}