.atlas-dashboard-wrapper {
	line-height:1.2;


	ul {
		margin:0 0 10px;
	}

	.ia-table-header {
		
	}

	.ia-table-cell {
	      
	    vertical-align: middle!important;	    
	}
	.ia-layer-list-item {
    	
    	padding-left: 30px!important;
	}

	table {
		td,th {
			padding:3px!important;
		}
	}
}