footer {	
	background:$lightgrey;
	padding:80px 0;
	@include max-xs {
		padding:40px 0;
	}
	
	a.home-link{
		position:relative;
		top:-6px;
		display:inline-block;
		margin-right:50px;
		img {
			width:192px;
			height:auto;
		}
		
		@include max-xs {
			top:0;
			margin:0;
			display:block;		
			
			img {
				width:260px;
				display:block;
				margin:0 auto;	
			}	
			
		}			
	}
	
	.here-to-help {
		position:relative;
		top:-10px;
		display:inline-block;
		width:96px;height:auto;
		img {
			margin:0;
		}
		@include max-xs {
			display:none
		}
		//background:url(../images/were-here-to-help-blue.svg);
		//background-size:96px 79px;
		
	}

	.social-menu {
		@include max-xs {
			padding-top:40px;
			padding-bottom:20px;
		}
		.social-link {
			margin-bottom:6px;
			a {
				color:$body;
				@include font(14);
				white-space: nowrap;
			}
			span {display:inline-block;width:24px}

			@include max-xs {
				text-align:center;
			}
		}
	}
	.footer-menu {
		li {
			margin-bottom:0px;
			a {
				color:$body;
				@include font(14);
			}			
		}
		@include max-xs {			
			li {
				text-align:center;
			}
		}
	}
	

}