input:focus,
button:focus {
	outline:0;
}


.publication-filter {
	//border-top:2px solid $ehgreen;
	border-bottom:2px solid $ehgreen;
	margin-bottom:30px;
	.filter-form {
		&__btn {		
			background-color:white;
			color:$ehgreen;
			&:hover {
				background-color:$ehgreen;
				color:$white;
			}
		}
		
			#clearFilterForm {
				display:none;
				width:22px;
				height:22px;
				background:url(../images/clear-button.svg);
				position:absolute;
				right:-50px;
				top:8px;
				opacity:.2;
			}
		
	}

}