body {
	color:$body;
	font-family: $body-font;
	@include font(18);
	@include rem('line-height',26);
	font-weight:$font-light;
}

a {
	color:$ehgreen;
}

a:hover {
	color:$ehdarkgreen;
}

.container {
	//max-width:1440px;
}


.on-this-page {
	padding: 20px 0px 10px 0px;
	background: #fff;
	border-top: 2px $ehgreen solid;
	border-bottom: 2px $ehgreen solid;	
	margin-bottom: 40px;

	h3 {
		font-weight: $font-med;
		margin-bottom: 20px;		
		@include font(18,s);				
	}
	
	.on-this-page__item {
		font-size: 15px;
	    line-height: 1.2;	    
	    margin: -5px 0px 18px 0px;
	    position:relative;
	     
	    .bullet-arrow-hash {	
	    	transform: rotate(0deg);	    	
	    	position:absolute;
	    	left:15px;
	    	top:-1px;
	    }
	    a {
	    	font-size: 18px;
	    	font-weight: 400;
	    	padding-left:30px;
	    	display:inline-block;

	    }
	}	
	
}


