body {
	color:$body;
	font-family: $body-font;
	@include font(18);
	@include rem('line-height',26);
	font-weight:$font-light;
}

a {
	color:$ehgreen;
}

a:hover {
	color:$ehdarkgreen;
}

.container {
	//max-width:1440px;
}


.on-this-page {
	padding: 20px 0px 10px 0px;
	background: #fff;
	border-top: 2px $ehgreen solid;
	border-bottom: 2px $ehgreen solid;	
	margin-bottom: 40px;

	h3 {
		font-weight: $font-med;
		margin-bottom: 20px;		
		@include font(18,s);				
	}
	
	.content {
		font-size: 15px;
	    line-height: 1.4;
	    margin: -5px 0px 25px 0px;
	    &.smaller {
	    	margin: -5px 0px 15px 0px;
	    } 
	    .bullet-arrow-hash {
	    	margin-top: 0px;
	    	transform: rotate(0deg);
	    	margin-left: 5px;
	    	display:inline-block;
	    	margin-top:-4px;
	    }
	    .bigger {
	    	font-size: 18px;
	    	font-weight: 400;
	    	padding-left:10px;
	    	//padding-top:3px;
	    	display:inline-block;
	    }
	}	
	
}


