header.page-top-header {
	padding:24px 0;
	background-color:$white;	
	color:$black;
	position: relative;
	.uni-link,.home-link {
		display:inline-block;
	}
	.uni-link:after {
		position: absolute;
		width: 1px;
		height: 33px;
		content: "";
		background: $lightgrey;
		right: 16px;
		top: 10px;
	}
	.home-link {
		margin-top:-10px;
		position:relative;
	}
	.search-bar {
		height: 34px;
		padding: 9px 0px;
		div.text {
			width: calc(100% - 34px);
		}
		input.text {
			border-top-left-radius: 80px;
		    border-bottom-left-radius: 80px;
		    border: 0 none;
		    padding: 4px 20px;
		    background: $lightergrey;
		    font-size: 14px;
		    width: 100%;
		}
		input.action {
			width: 34px;
			height: 34px;
			background: none;
			border: 0px none;
			border-top-right-radius: 80px;
		    border-bottom-right-radius: 80px;
		    text-indent: -9999px;
		    overflow: hidden;
		    position: relative;
		    top: -34px;
		    background: $lightergrey url(../images/icon-search.png) no-repeat 3px 8px;
		}
	}
}

header.mobile-top-header {
	padding:10px 0px;
	background: $ehgreen;
	display: none;
	.menu {
		padding: 5px 0px 5px 5px;
		cursor: pointer;
	}
}