.indicators {
	.indicators-first-item {
		border-bottom: 2px solid $ehgreen;
		margin: 0px 0px 0px 0px;
		padding: 25px 0px;
		&.item-1 {
			border-top: 2px solid $ehgreen;
			margin-top: 40px;
		}
		.icon {
			img {
				width: 50px;
				height: 50px;
				max-width: 50px;
				margin-left: -15px;
			}
		}
		.content {
			a {
				font-weight: 700;
			}
			span {
				display: block;
			}
		}
	}
}

/* sub pages */
.page-groups {
	.page-group {
		margin-top: 50px;
		h2 {
			font-size: 24px;
			font-weight: bold;	
			line-height: 35px;
		}
		.page {
			padding: 20px 0px 0px 0px;
			img {
				width: 80%;
				max-width: 80%;
			}
			.page-content {
				//border-bottom: 1px solid $lightgrey;
				//padding: 0px 0px 0px 0px;
				font-size: 16px;
				h3 {
					font-weight: 700;
					font-size: 18px;
				}
			}
		}
	}
}