.navbar-toggler-icon{background-image:url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")}


#topLevelNav {
	padding:0;
	background:$ehgreen;
	
	
	
	#mainNavigation {
		ul.navbar-nav {
			li.nav-item {
				padding:0;
				margin-right:40px;
				&.last {margin-right:0;}
				a.nav-link {
					padding:14px 22px 14px 0;
					color:$white;
					font-family:$heading-font;
					font-size: 16px;
					line-height:1.2;
					text-rendering:optimizeLegibility;
					display:block;
					height:100%;
					font-weight: 400;
					text-decoration:none;
					@include media-breakpoint-down(md) {
						padding:18px 18px;
						text-align:left;
						font-size: 18px;
					}
					&:hover {
						//padding: 20px 0 28px 0;
					}
					&.section,&.current {
						background-color:$ehdarkgreen;
					}
					&.dropdown-togglex:after {
						border-style: solid;
						border-width: 0.15em 0.15em 0 0;
						content: '';
						display: block;
						height: 0.5em;
						width: 0.5em;
						right: 0em;
						position: absolute;
						top:1.2rem;
						transform: rotate(135deg);
						//vertical-align: top;					
					}
					.tereo{
						display:block;
						opacity:.8;
					}
									
				}
				.dropdown-menu {
					min-width:100%;
					padding:0 0 .5em;
					top:96%;
					border:none;
					border-radius:0;
					background-color:$ehgreen;
					margin-left:-1.5rem;
					
					.dropdown-item {
						color:white;
						text-decoration:none;
						&:hover {
							background-color: $ehdarkgreen;
						}
						border-top:1px solid rgba(1,1,1,.05)
					}

				}
				
			}
			
		}
	}

}

