#topLevelNav {
	padding:0;
	background:$ehgreen;
	
	.navbar-toggler-icon{background-image:url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")}
	
	#mainNavigation {
		ul.navbar-nav {
			li.nav-item {
				padding:0;
				a.nav-link {
					padding:18px 4px;
					color:$white;
					font-family:$heading-font;
					font-size: 16px;
					line-height:1.2;
					text-rendering:optimizeLegibility;
					display:block;
					height:100%;
					font-weight: 400;
					&:hover {
						//padding: 20px 0 28px 0;
					}
					&.section,&.current {
						background-color:$ehdarkgreen;

					}					
				}
				//the PAWS item
				&.section-8 {
					max-width:210px;
					a {
						padding:8px 4px 0;
					}
				}
			}
			/* home icon */
			li.nav-item:first-child {
				flex: none;
				a.nav-link{
					text-indent: -9999px;
					overflow: hidden;
					width: 55px;
					height: 55px;
					background: url(../images/icon-home.png) no-repeat 12px 13px;
					&.section,&.current {
						background-color:$ehdarkgreen;
					}	
				}
			}
		}
	}

}

#subNavigation {
	display: none;
	position: absolute;
	z-index: 4;
    background: #fff;
    width: 100%;
    padding: 45px 0px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    .subpages {
    	display: none;
	    h4 {
	    	padding-bottom: 20px;
	    }
	    a {
	    	color: $greytext;
	    	padding: 8px 0px;
	    	display: block;
	    }
	}
}
