#topLevelNav {
	padding:0;
	background:$ehgreen;
	
	.navbar-toggler-icon{background-image:url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")}
	
	#mainNavigation {
		ul.navbar-nav {
			li.nav-item {
				padding:0;
				a.nav-link {
					padding:24px 4px;
					color:$white;
					font-family:$heading-font;
					@include font(16);
					line-height:1.1;
					text-rendering:optimizeLegibility;
					display:block;
					height:100%;
					&:hover {
						//padding: 20px 0 28px 0;
					}
					&.section,&.current {
						background-color:$ehdarkgreen;

					}					
				}
			//the PAWS item
			&.section-8 {
				max-width:210px;
				a {
					padding:14px 4px 0;
				}
			}
				
				
			}
		}
	}
}
