
$body:			  #464749;

$black: 		  #000;
$white: 		  #fff;

// light grey backgrounds
$lightgrey:       #ECECEC;
$lightergrey:     #f2f2f2;

$greytext:        #888888;

$midgrey:         #EFEFF0;
$darkgrey:        #707070;


//site colours
$ehgreen:         #8BB220;
$ehdarkgreen:     #134b25;
$ehlightgreen:    #f3f7e8;

