@import "variables-custom";

.lead {
	font-size:22px;
	line-height: 1.2;
}
h2.anchor {
	color:blue;

}
td.header {
	background-color:$ehgreen;
}
td.hilite {
	background-color:lighten($ehgreen, 50%);
}